@model WorkersViewModel
@{
    ViewData["Titel"] = "Update";
    // var Departments = new SelectList(ViewBag.Departments, "Id", "Name");
}
<h1>Worker Update</h1>
<br />
<br />
<div class="row">
    <div class="col-6">
        <form asp-action="Update" asp-controller="Workers"  enctype="multipart/form-data" >

            <div class="form-group">
                <label asp-for="@Model.Id" class="col-form-label"></label>
                <input asp-for="@Model.Id" class="form-control" />
                <span asp-validation-for="@Model.Id" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.Name" class="col-form-label"></label>
                <input asp-for="@Model.Name" class="form-control" />
                <span asp-validation-for="@Model.Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.Address" class="col-form-label"></label>
                <input asp-for="@Model.Address" class="form-control" />
                <span asp-validation-for="@Model.Address" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.Email" class="col-form-label"></label>
                <input asp-for="@Model.Email" class="form-control" />
                <span asp-validation-for="@Model.Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.Salary" class="col-form-label"></label>
                <input asp-for="@Model.Salary" class="form-control" />
                <span asp-validation-for="@Model.Salary" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.HireDate" class="col-form-label"></label>
                <input asp-for="@Model.HireDate" class="form-control" />
                <span asp-validation-for="@Model.HireDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.DepartmentId" class="col-form-label"></label>
                <input asp-for="@Model.DepartmentId" class="form-control" />

                @* <select asp-for="@Model.DepartmentId" asp-items="Departments" class="form-control">  </select> *@

                <span asp-validation-for="@Model.DepartmentId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.Images" class="col-form-label"></label>
                <input type="file" asp-for="@Model.Images" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="@Model.IsActive" class="col-form-label"></label>
                <input asp-for="@Model.IsActive" class="form-control" />
                <input class="form-check-input" type="checkbox" asp-for="@Model.IsActive">
                <label class="form-check-label" asp-for="@Model.IsActive"> </label>
                
                <span asp-validation-for="@Model.IsActive" class="text-danger"></span>
            </div>


            <br />
            <input type="submit" value="Update" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-light"> Back To List </a>

        </form>

    </div>

</div>
